/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@media (min-width: 1025px) {
ion-icon {
  display: block !important;
  visibility: hidden !important;
}
}
/* Стилізація кнопок */
.swiper-button-next:after, .swiper-button-prev:after {
  
  color: white;
  
  padding: 10px;
 
  font-size: 24px !important
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.swiper-pagination-bullet {

  background-color: #edd2cb !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* Приховує стандартне око в Chrome/Safari */
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

/* Приховує око та кнопку очищення в Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Запобігає автозаповненню пароля (іконка 🔒) */
input {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}







